Repository aws-solutions/research-service-workbench-on-aws: changes, and which Codecov flags are due for each by the changed paths.
All: swb-app, swb-reference, workbench-core-accounts, workbench-core-accounts-ui, workbench-core-audit, workbench-core-authentication, workbench-core-authorization, workbench-core-base, workbench-core-datasets, workbench-core-datasets-ui, workbench-core-environments, workbench-core-environments-ui, workbench-core-infrastructure, workbench-core-logging, workbench-core-swb-common-ui, workbench-core-user-management

codecov.yml:

coverage:
  status:
    project:
      root:
        target: 90% #overall project/ repo coverage
        flags:
          - root
      swb-app:
        target: 78%
        flags:
          - swb-app
      swb-reference:
        target: 90%
        flags:
          - swb-reference
      workbench-core-accounts:
        target: 90%
        flags:
          - workbench-core-accounts
      workbench-core-accounts-ui:
        target: 90%
        flags:
          - workbench-core-accounts-ui
      workbench-core-audit:
        target: 90%
        flags:
          - workbench-core-audit
      workbench-core-authentication:
        target: 100%
        flags:
          - workbench-core-authentication
      workbench-core-authorization:
        target: 99%
        flags:
          - workbench-core-authorization
      workbench-core-base:
        target: 80%
        flags:
          - workbench-core-base
      workbench-core-datasets:
        target: 90%
        flags:
          - workbench-core-datasets
      workbench-core-datasets-ui:
        target: 90%
        flags:
          - workbench-core-datasets-ui
      workbench-core-environments:
        target: 75%
        flags:
          - workbench-core-environments
      workbench-core-environments-ui:
        target: 90%
        flags:
          - workbench-core-environments-ui
      workbench-core-infrastructure:
        target: 90%
        flags:
          - workbench-core-infrastructure
      workbench-core-logging:
        target: 90%
        flags:
          - workbench-core-logging
      workbench-core-swb-common-ui:
        target: 90%
        flags:
          - workbench-core-swb-common-ui
      workbench-core-user-management:
        target: 90%
        flags:
          - workbench-core-user-management

flags:
  swb-app:
    paths:
      - solutions/swb-app
  swb-reference:
    paths:
      - solutions/swb-reference
  workbench-core-accounts:
    paths:
      - workbench-core/accounts
  workbench-core-accounts-ui:
    paths:
      - workbench-core/accounts-ui
  workbench-core-audit:
    paths:
      - workbench-core/audit
  workbench-core-authentication:
    paths:
      - workbench-core/authentication
  workbench-core-authorization:
    paths:
      - workbench-core/authorization
  workbench-core-base:
    paths:
      - workbench-core/base
  workbench-core-datasets:
    paths:
      - workbench-core/datasets
  workbench-core-datasets-ui:
    paths:
      - workbench-core/datasets-ui
  workbench-core-environments:
    paths:
      - workbench-core/environments
  workbench-core-environments-ui:
    paths:
      - workbench-core/environments-ui
  workbench-core-infrastructure:
    paths:
      - workbench-core/infrastructure
  workbench-core-logging:
    paths:
      - workbench-core/logging
  workbench-core-swb-common-ui:
    paths:
      - workbench-core/swb-common-ui
  workbench-core-user-management:
    paths:
      - workbench-core/user-management

github_checks:
    annotations: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true  # if true: only post the comment if coverage changes
  require_base: false        # [yes :: must have a base report to post]
  require_head: false       # [yes :: must have a head report to post]
  show_carryforward_flags: true
  show_critical_paths: true #new option to labeled critical files
  hide_comment_details: true #collapse all the "detailed info" for the PR comment

chore: fix integ env
  solutions/swb-reference/integration-tests/config/swbv2-private.yaml
  solutions/swb-reference/integration-tests/config/testEnv.yaml
  solutions/swb-reference/integration-tests/tests/multiStep/awsAccount.test.ts
Due: swb-reference

chore: update comment
  solutions/swb-reference/integration-tests/tests/multiStep/awsAccount.test.ts
Due: swb-reference

chore: mask externalId (#1149)
  common/changes/@aws/swb-reference/janeyu-externalID_2023-06-15-18-26.json
  common/changes/@aws/workbench-core-environments/janeyu-externalID_2023-06-15-18-26.json
  solutions/swb-reference/integration-tests/config/example.yaml
  solutions/swb-reference/integration-tests/config/release-candidate-private.yaml
  solutions/swb-reference/integration-tests/config/release-candidate.yaml
  solutions/swb-reference/integration-tests/config/swbv2-private.yaml
  solutions/swb-reference/integration-tests/config/testEnv.yaml
  solutions/swb-reference/integration-tests/support/utils/settings.ts
  solutions/swb-reference/integration-tests/tests/multiStep/awsAccount.test.ts
  workbench-core/environments/src/handlers/statusHandler.test.ts
  workbench-core/environments/src/services/environmentService.test.ts
Due: swb-reference, workbench-core-environments

refactor: remove identifiers from error message
  solutions/swb-app/src/costCenterRoutes.ts
  solutions/swb-app/src/dataSetRoutes.ts
  solutions/swb-app/src/environmentTypeConfigRoutes.ts
  solutions/swb-app/src/projectEnvTypeConfigRoutes.ts
  solutions/swb-app/src/projectEnvironmentRoutes.ts
  solutions/swb-app/src/projectRoutes.ts
  solutions/swb-app/src/sshKeyRoutes.ts
  solutions/swb-app/src/userRoutes.ts
  solutions/swb-reference/src/services/projectEnvService.ts
  solutions/swb-reference/src/services/projectEnvTypeConfigService.ts
  solutions/swb-reference/src/services/sshKeyService.ts
  workbench-core/accounts/src/services/accountService.test.ts
  workbench-core/accounts/src/services/accountService.ts
  workbench-core/accounts/src/services/costCenterService.test.ts
  workbench-core/accounts/src/services/costCenterService.ts
  workbench-core/accounts/src/services/projectService.test.ts
  workbench-core/accounts/src/services/projectService.ts
  workbench-core/accounts/src/utilities/projectUtils.test.ts
  workbench-core/accounts/src/utilities/projectUtils.ts
  workbench-core/environments/src/handlers/statusHandler.ts
  workbench-core/environments/src/services/environmentService.test.ts
  workbench-core/environments/src/services/environmentService.ts
  workbench-core/environments/src/services/environmentTypeConfigService.test.ts
  workbench-core/environments/src/services/environmentTypeConfigService.ts
  workbench-core/environments/src/services/environmentTypeService.test.ts
  workbench-core/environments/src/services/environmentTypeService.ts
Due: swb-app, swb-reference, workbench-core-accounts, workbench-core-environments

test: update integration tests
  solutions/swb-reference/integration-tests/tests/isolated/awsAccounts/list.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/costCenter/get.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/costCenter/list.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/costCenter/softDelete.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/costCenter/update.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/environmentTypeConfigs/create.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/environmentTypeConfigs/list.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/environmentTypeConfigs/update.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/environmentTypes/get.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/environmentTypes/list.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/environmentTypes/update.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/environments/get.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/environments/list.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/environments/start.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/environments/stop.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/environments/terminate.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/projectEnvTypeConfigs/create.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/projectEnvTypeConfigs/delete.test.ts
Due: swb-reference

test: update integration tests
  solutions/swb-reference/integration-tests/tests/isolated/projectEnvTypeConfigs/list.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/projectEnvTypeConfigs/listProjects.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/projects/assignUserToProject.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/projects/create.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/projects/listDataSetsForProject.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/projects/listUsersForProject.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/projects/removeUserFromProject.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/projects/softDelete.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/projects/update.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/sshKeys/delete.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/users/activateDeactivateUser.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/users/delete.test.ts
  solutions/swb-reference/integration-tests/tests/multiStep/dataset.test.ts
  solutions/swb-reference/integration-tests/tests/multiStep/et-etc.test.ts
  solutions/swb-reference/integration-tests/tests/multiStep/user.test.ts
  solutions/swb-reference/integration-tests/tests/multiStep/userProject.test.ts
  workbench-core/base/src/utilities/paginationHelper.ts
Due: swb-reference, workbench-core-base

chore: rebase merge
  workbench-core/environments/src/services/environmentService.test.ts
  workbench-core/environments/src/services/environmentTypeConfigService.test.ts
  workbench-core/environments/src/services/environmentTypeService.test.ts
Due: workbench-core-environments

chore: changefile
  common/changes/@aws/swb-app/yanyu-error-message-sanitation_2023-06-16-19-33.json
  common/changes/@aws/swb-reference/yanyu-error-message-sanitation_2023-06-16-19-33.json
  common/changes/@aws/workbench-core-accounts/yanyu-error-message-sanitation_2023-06-16-19-33.json
  common/changes/@aws/workbench-core-base/yanyu-error-message-sanitation_2023-06-16-19-33.json
  common/changes/@aws/workbench-core-environments/yanyu-error-message-sanitation_2023-06-16-19-33.json
Due: none

chore(integ): update source code or integ test
  solutions/swb-reference/integration-tests/tests/isolated/projects/create.test.ts
  solutions/swb-reference/integration-tests/tests/isolated/projects/list.test.ts
  solutions/swb-reference/src/services/dataSetService.ts
Due: swb-reference

test(unit): update error message
  solutions/swb-reference/src/services/dataSetService.test.ts
Due: swb-reference

chore(list-env): add integ test for pageSize exceed max
  solutions/swb-reference/integration-tests/tests/isolated/environments/list.test.ts
Due: swb-reference

chore: rush change
  common/changes/@aws/swb-reference/janeyu-pageSize_2023-06-27-20-55.json
Due: none

chore: merge main into develop
  .github/workflows/npm-publish.yml
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  deployment/build-s3-dist.sh
  solutions/swb-reference/README.md
  solutions/swb-reference/README_SOLUTIONS.md
  solutions/swb-reference/RSW.openapi.json
  solutions/swb-reference/RSW.postman_collection.json
  solutions/swb-reference/scripts/solutions-implementation/baseResourceSetup.sh
  solutions/swb-reference/scripts/solutions-implementation/postSolutionDeployment.sh
Due: swb-reference

chore(list-env): add integ test for pageSize exceed max (#1161)
  common/changes/@aws/swb-reference/janeyu-pageSize_2023-06-27-20-55.json
  solutions/swb-reference/integration-tests/tests/isolated/environments/list.test.ts
Due: swb-reference

docs: add rush change files
  common/changes/@aws/workbench-core-accounts/topic-renameSwbRsw_2023-06-28-09-02.json
  common/changes/@aws/workbench-core-base/topic-renameSwbRsw_2023-06-28-09-02.json
  common/changes/@aws/workbench-core-environments/topic-renameSwbRsw_2023-06-28-09-02.json
Due: none

chore: add missing var and update pnpm audit
  .github/workflows/pnpm-audit.yml
  solutions/swb-reference/scripts/solutions-implementation/postSolutionDeployment.sh
Due: swb-reference

chore: skip steps for main and hosting to be same
  solutions/swb-reference/src/templates/onboard-account-byon.cfn.yaml
  solutions/swb-reference/src/templates/onboard-account.cfn.yaml
  workbench-core/accounts/src/utilities/hostingAccountLifecycleService.ts
Due: swb-reference, workbench-core-accounts

ci: increase audit level to high due to a vulnerability that does not have a patch
  .github/workflows/pnpm-audit.yml
Due: none

fix: delete all temp role access when role is deleted (#1150)
  .github/workflows/pnpm-audit.yml
  common/changes/@aws/workbench-core-user-management/topic-fixTempRoleAccess_2023-06-20-20-58.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  workbench-core/user-management/package.json
  workbench-core/user-management/src/plugins/cognitoUserManagementPlugin.test.ts
  workbench-core/user-management/src/plugins/cognitoUserManagementPlugin.ts
  workbench-core/user-management/src/plugins/tempRoleAccessEntry.ts
Due: workbench-core-user-management

test(ssh key integ tests): send ssh key negative tests
  solutions/swb-reference/integration-tests/support/resources/environments/environment.ts
  solutions/swb-reference/integration-tests/tests/isolated/sshKeys/sendSshKey.test.ts
Due: swb-reference

chore: rush change
  common/changes/@aws/swb-reference/maghirardelli-add-ssh-key-integ-test_2023-07-03-21-01.json
Due: none

test: fix error messages
  solutions/swb-reference/integration-tests/tests/isolated/sshKeys/sendSshKey.test.ts
Due: swb-reference

test(ssh key integ tests): send ssh key negative tests (#1165)
  common/changes/@aws/swb-reference/maghirardelli-add-ssh-key-integ-test_2023-07-03-21-01.json
  solutions/swb-reference/integration-tests/support/resources/environments/environment.ts
  solutions/swb-reference/integration-tests/tests/isolated/sshKeys/sendSshKey.test.ts
Due: swb-reference

chore: run rush change
  common/changes/@aws/swb-reference/chore-main-hosting-same_2023-07-05-18-07.json
  common/changes/@aws/workbench-core-accounts/chore-main-hosting-same_2023-07-05-18-07.json
Due: none

test: adding unit tests
  common/changes/@aws/workbench-core-accounts/chore-main-hosting-same_2023-07-05-18-07.json
  workbench-core/accounts/src/utilities/hostingAccountLifecycleService.test.ts
Due: workbench-core-accounts

feat: main equal to hosting (#1164)
  common/changes/@aws/swb-reference/chore-main-hosting-same_2023-07-05-18-07.json
  common/changes/@aws/workbench-core-accounts/chore-main-hosting-same_2023-07-05-18-07.json
  solutions/swb-reference/src/templates/onboard-account-byon.cfn.yaml
  solutions/swb-reference/src/templates/onboard-account.cfn.yaml
  workbench-core/accounts/src/utilities/hostingAccountLifecycleService.test.ts
  workbench-core/accounts/src/utilities/hostingAccountLifecycleService.ts
Due: swb-reference, workbench-core-accounts

chore(ci): replace deprecated set-output commands
  .github/actions/enableBranchProtectionAction/action.yml
Due: none

Content populated by Brazil Package Creation Service.
  .crux_dry_run_build
  DEVELOPING.md
  README.md
  brazil.ion
Due: none

feat(ALB): delete protection
  solutions/swb-reference/src/infra/RSWApplicationLoadBalancer.ts
Due: swb-reference

chore(alb): alb delete protection
  common/changes/@aws/swb-reference/janeyu-ALBDelete_2023-07-25-22-19.json
Due: none

chore(alb): update test
  solutions/swb-reference/src/infra/RSWApplicationLoadBalancer.test.ts
Due: swb-reference

feat(ALB): delete protection (#1169)
  common/changes/@aws/swb-reference/janeyu-ALBDelete_2023-07-25-22-19.json
  solutions/swb-reference/src/infra/RSWApplicationLoadBalancer.test.ts
  solutions/swb-reference/src/infra/RSWApplicationLoadBalancer.ts
Due: swb-reference

ci: adding mainline-pipeline configurations
  .gitallowed
  .gitignore
  buildspec.yml
  common/config/rush/command-line.json
  common/scripts/commitizen.sh
  common/scripts/git-secrets-scan.sh
  common/scripts/viperlight-scan.sh
  solutions/swb-reference/integration-tests/config/mainline-pipeline.yaml
  solutions/swb-reference/src/config/mainline-pipeline.yaml
Due: swb-reference

ci: change rush cinstall to install
  deployment/build-s3-dist.sh
Due: none

fix: turn off aws-accounts integration test
  solutions/swb-reference/integration-tests/config/mainline-pipeline.yaml
Due: swb-reference

ci: create develop-pipeline configurations
  .gitignore
  solutions/swb-reference/integration-tests/config/develop-pipeline.yaml
  solutions/swb-reference/src/config/develop-pipeline.yaml
Due: swb-reference

ci: include externalIdPath and awsAccountIdParamStorePath
  solutions/swb-reference/integration-tests/config/develop-pipeline.yaml
Due: swb-reference
