Repository aws-solutions/research-service-workbench-on-aws: changes, and which Codecov flags are due for each by the changed paths.
All: rsw-app, rsw-reference, workbench-core-accounts, workbench-core-accounts-ui, workbench-core-audit, workbench-core-authentication, workbench-core-authorization, workbench-core-base, workbench-core-datasets, workbench-core-datasets-ui, workbench-core-environments, workbench-core-environments-ui, workbench-core-infrastructure, workbench-core-logging, workbench-core-rsw-common-ui, workbench-core-user-management

ci: remove workflows and actions
  .github/actions/baseAction/action.yml
  .github/actions/enableBranchProtectionAction/action.yml
  .github/actions/notification/action.yml
  .github/workflows/automerge-release-pr-to-develop.yml
  .github/workflows/build-and-test.yml
  .github/workflows/cfn-nag.yml
  .github/workflows/check-and-add-license-header.yml
  .github/workflows/create-release-branch.yml
  .github/workflows/create-release-pr-to-develop.yml
  .github/workflows/create-release-pr-to-main.yml
  .github/workflows/depcheck.yml
  .github/workflows/deploy-integration-example-app.yml
  .github/workflows/deploy-integration-swb-reference-byon.yml
  .github/workflows/deploy-integration-swb-reference.yml
  .github/workflows/deploy-swb-reference-demo.yml
  .github/workflows/enable-feat-protection.yml
  .github/workflows/enable-release-protection.yml
  .github/workflows/feat-deletion.yml
  .github/workflows/ignore-license-checker.yml
  .github/workflows/integration-tests-release.yml
  .github/workflows/labeler.yml
  .github/workflows/license-checker.yml
  .github/workflows/lint-pr.yml
  .github/workflows/main-protection.yml
  .github/workflows/merge-commit-topic-branch-pr-to-feat-branch.yml
  .github/workflows/merge-develop-to-stage.yml
  .github/workflows/merge-release-pr-to-main.yml
  .github/workflows/merge-release-to-develop-notification.yml
  .github/workflows/no-response.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pipeline-workflow.yml
  .github/workflows/pnpm-audit.yml
  .github/workflows/readme-commit.yml
  .github/workflows/release-deletion.yml
  .github/workflows/secret-scan.yml
  .github/workflows/security-code-scanning.yml
  .github/workflows/solutions-pipeline-checks.yml
  .github/workflows/stage-protection.yml
  .github/workflows/verify-changefiles.yml
Due: none

ci: remove workflows and actions (#1170)
  .github/actions/baseAction/action.yml
  .github/actions/enableBranchProtectionAction/action.yml
  .github/actions/notification/action.yml
  .github/workflows/automerge-release-pr-to-develop.yml
  .github/workflows/build-and-test.yml
  .github/workflows/cfn-nag.yml
  .github/workflows/check-and-add-license-header.yml
  .github/workflows/create-release-branch.yml
  .github/workflows/create-release-pr-to-develop.yml
  .github/workflows/create-release-pr-to-main.yml
  .github/workflows/depcheck.yml
  .github/workflows/deploy-integration-example-app.yml
  .github/workflows/deploy-integration-swb-reference-byon.yml
  .github/workflows/deploy-integration-swb-reference.yml
  .github/workflows/deploy-swb-reference-demo.yml
  .github/workflows/enable-feat-protection.yml
  .github/workflows/enable-release-protection.yml
  .github/workflows/feat-deletion.yml
  .github/workflows/ignore-license-checker.yml
  .github/workflows/integration-tests-release.yml
  .github/workflows/labeler.yml
  .github/workflows/license-checker.yml
  .github/workflows/lint-pr.yml
  .github/workflows/main-protection.yml
  .github/workflows/merge-commit-topic-branch-pr-to-feat-branch.yml
  .github/workflows/merge-develop-to-stage.yml
  .github/workflows/merge-release-pr-to-main.yml
  .github/workflows/merge-release-to-develop-notification.yml
  .github/workflows/no-response.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pipeline-workflow.yml
  .github/workflows/pnpm-audit.yml
  .github/workflows/readme-commit.yml
  .github/workflows/release-deletion.yml
  .github/workflows/secret-scan.yml
  .github/workflows/security-code-scanning.yml
  .github/workflows/solutions-pipeline-checks.yml
  .github/workflows/stage-protection.yml
  .github/workflows/verify-changefiles.yml
Due: none

docs: updated README doc
  README.md
Due: none

chore: remove change files
  common/changes/@aws/swb-app/atmikev-GALI-2336-CostCenterAccountStatus_2023-06-21-18-24.json
  common/changes/@aws/swb-app/topic-multipleAppClientIds_2023-02-28-19-23.json
  common/changes/@aws/swb-app/yanyu-error-message-sanitation_2023-06-16-19-33.json
  common/changes/@aws/swb-reference/atmikev-GALI-2336-CostCenterAccountStatus_2023-06-22-18-28.json
  common/changes/@aws/swb-reference/chore-integ-tests-env_2023-06-09-03-51.json
  common/changes/@aws/swb-reference/chore-main-hosting-same_2023-07-05-18-07.json
  common/changes/@aws/swb-reference/janeyu-ALBDelete_2023-07-25-22-19.json
  common/changes/@aws/swb-reference/janeyu-externalID_2023-06-15-18-26.json
  common/changes/@aws/swb-reference/janeyu-pageSize_2023-06-27-20-55.json
  common/changes/@aws/swb-reference/maghirardelli-add-ssh-key-integ-test_2023-07-03-21-01.json
  common/changes/@aws/swb-reference/yanyu-error-message-sanitation_2023-06-16-19-33.json
  common/changes/@aws/workbench-core-accounts/atmikev-GALI-2336-CostCenterAccountStatus_2023-06-21-18-24.json
  common/changes/@aws/workbench-core-accounts/chore-main-hosting-same_2023-07-05-18-07.json
  common/changes/@aws/workbench-core-accounts/yanyu-error-message-sanitation_2023-06-16-19-33.json
  common/changes/@aws/workbench-core-audit/topic-expectToStrictEqual_2023-04-04-14-47.json
  common/changes/@aws/workbench-core-authentication/topic-cypressLoginLogout_2023-04-10-21-32.json
  common/changes/@aws/workbench-core-authentication/topic-expectToStrictEqual_2023-04-04-14-47.json
  common/changes/@aws/workbench-core-authentication/topic-multipleAppClientIds_2023-02-28-19-23.json
  common/changes/@aws/workbench-core-authorization/topic-expectToStrictEqual_2023-04-04-14-47.json
  common/changes/@aws/workbench-core-base/topic-expectToStrictEqual_2023-04-04-14-47.json
  common/changes/@aws/workbench-core-base/topic-multipleAppClientIds_2023-02-28-19-23.json
  common/changes/@aws/workbench-core-base/yanyu-error-message-sanitation_2023-06-16-19-33.json
  common/changes/@aws/workbench-core-datasets/topic-expectToStrictEqual_2023-04-04-14-47.json
  common/changes/@aws/workbench-core-environments/janeyu-externalID_2023-06-15-18-26.json
  common/changes/@aws/workbench-core-environments/topic-expectToStrictEqual_2023-04-04-14-47.json
  common/changes/@aws/workbench-core-environments/yanyu-error-message-sanitation_2023-06-16-19-33.json
  common/changes/@aws/workbench-core-infrastructure/topic-cypressPrototype_2023-03-30-15-35.json
  common/changes/@aws/workbench-core-infrastructure/topic-multipleAppClientIds_2023-02-28-19-23.json
  common/changes/@aws/workbench-core-logging/topic-expectToStrictEqual_2023-04-04-14-47.json
  common/changes/@aws/workbench-core-user-management/topic-expectToStrictEqual_2023-04-04-14-47.json
  common/changes/@aws/workbench-core-user-management/topic-fixTempRoleAccess_2023-06-20-20-58.json
Due: none

chore: prepare next version
  CHANGELOG.md
  common/config/rush/command-line.json
  solutions/swb-app/package.json
  solutions/swb-reference/RSW.openapi.json
  solutions/swb-reference/package.json
  solutions/swb-reference/src/constants.ts
  workbench-core/accounts-ui/package.json
  workbench-core/accounts/package.json
  workbench-core/audit/package.json
  workbench-core/authentication/package.json
  workbench-core/authorization/package.json
  workbench-core/base/package.json
  workbench-core/datasets-ui/package.json
  workbench-core/datasets/package.json
  workbench-core/environments-ui/package.json
  workbench-core/environments/package.json
  workbench-core/eslint-custom/package.json
  workbench-core/example/app/package.json
  workbench-core/example/infrastructure/package.json
  workbench-core/infrastructure/package.json
  workbench-core/logging/package.json
  workbench-core/repo-scripts/repo-toolbox/package.json
  workbench-core/swb-common-ui/package.json
  workbench-core/user-management/package.json
Due: workbench-core-accounts, workbench-core-accounts-ui, workbench-core-audit, workbench-core-authentication, workbench-core-authorization, workbench-core-base, workbench-core-datasets, workbench-core-datasets-ui, workbench-core-environments, workbench-core-environments-ui, workbench-core-infrastructure, workbench-core-logging, workbench-core-user-management

version change
  buildspec.yml
Due: none

chore: dependabot alert updates
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  solutions/swb-reference/.eslintrc.js
  solutions/swb-reference/package.json
  workbench-core/accounts/src/utilities/hostingAccountLifecycleService.test.ts
  workbench-core/accounts/src/utilities/hostingAccountLifecycleService.ts
  workbench-core/authentication/.eslintrc.js
  workbench-core/authentication/package.json
  workbench-core/authorization/src/dynamicAuthorization/dynamicAuthorizationMiddleware.ts
  workbench-core/base/.eslintrc.js
  workbench-core/environments/src/postDeployment/cognitoSetup.ts
  workbench-core/environments/src/postDeployment/serviceCatalogSetup.ts
  workbench-core/swb-common-ui/.eslintrc.js
  workbench-core/swb-common-ui/package.json
Due: workbench-core-accounts, workbench-core-authentication, workbench-core-authorization, workbench-core-base, workbench-core-environments

chore: add SECURITY.md
  SECURITY.md
Due: none

chore: add EOL notice
  README.md
Due: none

chore: ignore aws security email in SECURITY.md
  .viperlightignore
Due: none

Revert "chore: dependabot alert updates"
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  solutions/swb-reference/.eslintrc.js
  solutions/swb-reference/package.json
  workbench-core/accounts/src/utilities/hostingAccountLifecycleService.test.ts
  workbench-core/accounts/src/utilities/hostingAccountLifecycleService.ts
  workbench-core/authentication/.eslintrc.js
  workbench-core/authentication/package.json
  workbench-core/authorization/src/dynamicAuthorization/dynamicAuthorizationMiddleware.ts
  workbench-core/base/.eslintrc.js
  workbench-core/environments/src/postDeployment/cognitoSetup.ts
  workbench-core/environments/src/postDeployment/serviceCatalogSetup.ts
  workbench-core/swb-common-ui/.eslintrc.js
  workbench-core/swb-common-ui/package.json
Due: workbench-core-accounts, workbench-core-authentication, workbench-core-authorization, workbench-core-base, workbench-core-environments

chore: update changelog for v2.0.2
  CHANGELOG.md
Due: none

chore: upgrade versions to v2.0.2
  NOTICE
  deployment/solution_config
  solutions/swb-reference/README_SOLUTIONS.md
  solutions/swb-reference/src/templates/onboard-account-byon.cfn.yaml
  solutions/swb-reference/src/templates/onboard-account.cfn.yaml
Due: none

chore: update package.json text fields
  deployment/cdk-solution-helper/package.json
  solutions/swb-app/package.json
  solutions/swb-reference/package.json
  workbench-core/accounts-ui/package.json
  workbench-core/accounts/package.json
  workbench-core/audit/package.json
  workbench-core/authentication/package.json
  workbench-core/authorization/package.json
  workbench-core/base/package.json
  workbench-core/datasets-ui/package.json
  workbench-core/datasets/package.json
  workbench-core/environments-ui/package.json
  workbench-core/environments/package.json
  workbench-core/eslint-custom/package.json
  workbench-core/infrastructure/package.json
  workbench-core/logging/package.json
  workbench-core/repo-scripts/repo-toolbox/package.json
  workbench-core/swb-common-ui/package.json
  workbench-core/user-management/package.json
Due: workbench-core-accounts, workbench-core-accounts-ui, workbench-core-audit, workbench-core-authentication, workbench-core-authorization, workbench-core-base, workbench-core-datasets, workbench-core-datasets-ui, workbench-core-environments, workbench-core-environments-ui, workbench-core-infrastructure, workbench-core-logging, workbench-core-user-management

chore: prepare next version
  CHANGELOG.md
  solutions/swb-app/package.json
  solutions/swb-reference/RSW.openapi.json
  solutions/swb-reference/package.json
  solutions/swb-reference/src/constants.ts
  workbench-core/accounts-ui/package.json
  workbench-core/accounts/package.json
  workbench-core/audit/package.json
  workbench-core/authentication/package.json
  workbench-core/authorization/package.json
  workbench-core/base/package.json
  workbench-core/datasets-ui/package.json
  workbench-core/datasets/package.json
  workbench-core/environments-ui/package.json
  workbench-core/environments/package.json
  workbench-core/eslint-custom/package.json
  workbench-core/infrastructure/package.json
  workbench-core/logging/package.json
  workbench-core/repo-scripts/repo-toolbox/package.json
  workbench-core/swb-common-ui/package.json
  workbench-core/user-management/package.json
Due: workbench-core-accounts, workbench-core-accounts-ui, workbench-core-audit, workbench-core-authentication, workbench-core-authorization, workbench-core-base, workbench-core-datasets, workbench-core-datasets-ui, workbench-core-environments, workbench-core-environments-ui, workbench-core-infrastructure, workbench-core-logging, workbench-core-user-management

chore: upgrade aws-cdk to v2.149.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  solutions/swb-reference/package.json
  workbench-core/accounts/package.json
  workbench-core/datasets/package.json
  workbench-core/infrastructure/package.json
Due: workbench-core-accounts, workbench-core-datasets, workbench-core-infrastructure

chore: update changelog and version to v2.0.3
  CHANGELOG.md
  NOTICE
  deployment/solution_config
  solutions/swb-reference/README_SOLUTIONS.md
  solutions/swb-reference/src/templates/onboard-account-byon.cfn.yaml
  solutions/swb-reference/src/templates/onboard-account.cfn.yaml
Due: none

Release/v2.0.3 (#1177)
  CHANGELOG.md
  NOTICE
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  deployment/solution_config
  solutions/swb-app/package.json
  solutions/swb-reference/README_SOLUTIONS.md
  solutions/swb-reference/RSW.openapi.json
  solutions/swb-reference/package.json
  solutions/swb-reference/src/constants.ts
  solutions/swb-reference/src/templates/onboard-account-byon.cfn.yaml
  solutions/swb-reference/src/templates/onboard-account.cfn.yaml
  workbench-core/accounts-ui/package.json
  workbench-core/accounts/package.json
  workbench-core/audit/package.json
  workbench-core/authentication/package.json
  workbench-core/authorization/package.json
  workbench-core/base/package.json
  workbench-core/datasets-ui/package.json
  workbench-core/datasets/package.json
  workbench-core/environments-ui/package.json
  workbench-core/environments/package.json
  workbench-core/eslint-custom/package.json
  workbench-core/infrastructure/package.json
  workbench-core/logging/package.json
  workbench-core/repo-scripts/repo-toolbox/package.json
  workbench-core/swb-common-ui/package.json
  workbench-core/user-management/package.json
Due: workbench-core-accounts, workbench-core-accounts-ui, workbench-core-audit, workbench-core-authentication, workbench-core-authorization, workbench-core-base, workbench-core-datasets, workbench-core-datasets-ui, workbench-core-environments, workbench-core-environments-ui, workbench-core-infrastructure, workbench-core-logging, workbench-core-user-management

Path conditions:
  rsw-app: any of: solutions/rsw-app
  rsw-reference: any of: solutions/rsw-reference
  workbench-core-accounts: any of: workbench-core/accounts
  workbench-core-accounts-ui: any of: workbench-core/accounts-ui
  workbench-core-audit: any of: workbench-core/audit
  workbench-core-authentication: any of: workbench-core/authentication
  workbench-core-authorization: any of: workbench-core/authorization
  workbench-core-base: any of: workbench-core/base
  workbench-core-datasets: any of: workbench-core/datasets
  workbench-core-datasets-ui: any of: workbench-core/datasets-ui
  workbench-core-environments: any of: workbench-core/environments
  workbench-core-environments-ui: any of: workbench-core/environments-ui
  workbench-core-infrastructure: any of: workbench-core/infrastructure
  workbench-core-logging: any of: workbench-core/logging
  workbench-core-rsw-common-ui: any of: workbench-core/rsw-common-ui
  workbench-core-user-management: any of: workbench-core/user-management
